<h1 class="titre">Contact</h1>
<div class="content">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">
        <div class="container-row">
            <div class="container">
                <input class="input" required type="text" id="mail" formControlName="mail">
                <label class="label">Mail *</label>
            </div>
            <div class="container">
                <input class="input" required type="text" id="sujet" formControlName="subject">
                <label class="label">Sujet *</label>
            </div>
        </div>
        <div class="container">
            <textarea class="input textarea" required id="description" formControlName="message" ></textarea>
            <label class="label">Message *</label>
        </div>
        <button class="submit_form" type="submit" [disabled]="!contactForm.valid">Envoyer</button>
    </form>
</div>