<h1 class="titre">Mon profil</h1>
<div class="content">
    <div class="desc">
        {{ profil[0].description }}
    </div>
    <div class="right_part">
        Quelques informations :
        <div class="right_elm">
            Anniversaire : {{ profil[0]. birthday }}
        </div>
        <div class="right_elm">
           Adresse : {{ profil[0].adress }}
        </div>
        <div class="right_elm">
            Langues : {{ profil[0].languages }}
        </div>
        <div class="right_elm">
            Permis : {{ profil[0].permis }}
        </div>
        <div class="right_elm">
            Taille : {{ profil[0].taille }}
        </div>
        <div class="right_elm">
            Poids : {{ profil[0].poids }}
        </div>
    </div>
</div>
