
<div class="app">
  <div class="mask">
  </div>
  <app-menu></app-menu>
  <div class="titre anim-typewriter">[PLUME&#64;Lucas ~]# <span class='blinker'>&#32;</span></div>
  <div class="content">
    <div class="content__container">     
      <ul class="content__container__list">
        <li class="content__container__list__item">DevOps</li>
        <li class="content__container__list__item">Admin sys</li>
        <li class="content__container__list__item">Observabilité</li>
        <li class="content__container__list__item">Web</li>
        <li class="content__container__list__item">Et bien d'autres encore !</li>
      </ul>
    </div>
  </div>
</div>


