
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}*{
    color: white;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    width: 99%;
    height: 100%;
}

.titre{
    text-align: center;
    width: 100%;
    margin-top: 5%;
    text-decoration: underline;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", 
  sans-serif; 
}

@media (max-width: 600px) {
  body {
    background: linear-gradient( #000000  30%, #492f08 50%, #000000 70%);
  }
}

@media (min-width: 600px) {
  body {
    background-color: #000000;
  }
}