<input type="checkbox" id="myInput">
<label for="myInput">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </label>
<aside>
  <div class="aside-section aside-right">
    <ul class="aside-list">
      <li><a routerLinkActive="activebutton" routerLink="/" class="aside-anchor">Home</a></li>
      <li><a routerLinkActive="activebutton" routerLink="/profil" class="aside-anchor">Mon profil</a></li>
      <li><a routerLinkActive="activebutton" routerLink="/degree" class="aside-anchor">Mon parcours</a></li>
      <li><a routerLinkActive="activebutton" routerLink="/experience"class="aside-anchor">Mon expérience</a></li>
      <li><a routerLinkActive="activebutton" routerLink="/miscellaneous" class="aside-anchor">Mes hobbies</a></li>
      <li><a routerLinkActive="activebutton" routerLink="/contact" class="aside-anchor">Contact</a></li>
    </ul>
  </div>
</aside>